@import "typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500&display=swap');


* { box-sizing: border-box; }

/* Navigation bar setup dimensions and colour */
nav {
    background-color: #FFDE59;
    padding:10px 15px 10px 15px;
    height: 6vh;
}

/* Navigation bar container for textarea and pencil icon, justifying element to center */
.topNavigation {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

/* Positioning for pencil icon */
.topNavigation i{
    margin-top: 10px;
}

/* Styling elements for STUDBUD logo */
#logo{ 
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    position: absolute;
    top:0;
}

/* Styling elements for Textarea box */
.textarea {
    background-color: #FFDE59;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll; 
    width: 40vw;
    height: 3vh;
}

.tabs{
float: left;
width: 20%;
height: 300px;
margin-top: 12px;
}

.tabs a{
    text-decoration: none;  
}

.tabs button{
  display: block; 
  color: black;
  padding:  18px 16px;
  width: 70%;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.5 ease-in;
  font-size: 17px;
  margin: 15px;
}

.tabs button:hover{
  background-color: lightgray;  
}

.tabs button:active {
    background-color: white; 

}






.stopwatchContainer{
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.stopwatch{
    color: white;
    font-size: 64px;
}

.stopwatchButtons button{
    background-color: #C9E265;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}