@import "typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500&display=swap');


* { box-sizing: border-box; }

// HEADER CSS//

/* Header Navigation setup dimensions and colour */
nav {
    background-color: #FFDE59;
    padding:10px 15px 10px 15px;
    height: 6vh;
}

/* Navigation bar container for textarea and pencil icon, justifying element to center */
.topNavigation {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

/* Positioning for pencil icon */
.topNavigation i{
    margin-top: 10px;
}

/* Styling elements for STUDBUD logo */
#logo{ 
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    position: absolute;
    top:0;
}

/* Styling elements for Textarea box */
.textarea {
    background-color: #FFDE59;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll; 
    width: 40vw;
    height: 3vh;
}



// START OF ASIDE CONTENT CSS//

/* Positioning Aside Content to stay on the left and organise contents as a column */
aside{
    float: left;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 2%;
}

//SIDE BAR NAVIGATION TABS CSS//


/* Styling of conteents in Tab container to float to the left and sized relatively to the aside container dimension */
.tabs{
    float: left;
    width: 95%;
    margin-top: 12px;
    }
    
    /* Removes the hyperlink styling within the tab links */
    .tabs a{
        text-decoration: none;  
    }
    
    /* Styling of the tab buttons */
    .tabs button{
      display: block; 
      color: black;
      padding:  18px 16px;
      width: 100%;
      outline: none;
      border: none;
      text-align: left;
      cursor: pointer;
      transition: 0.5 ease-in;
      font-size: 17px;
      margin: 15px;
      margin-left: 0;
      margin-right: 0;
    }
    
    /* Styling of the tab buttons when hovered over*/
    .tabs button:hover{
      background-color: lightgray;  
    }
    
    /* Styling of the tab buttons to be white when actively clicked on*/
    .tabs button:active {
        background-color: white; 
    }

// Music Player CSS//

/* Styling of music player containers size, and organisation of display of inside content as a column*/
.music-container{
    font-family: "Poppins", sans-serif;
    background-color: #CB6CE6;
    width: 95%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Image wrapper contains song cover, song title, and artist name. This organises the elements to show up aligned to center and organised as a column*/
.imageWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Styling for Image wrapper song title html*/
.imageWrapper h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* Styling for Image wrapper artist name html*/
.imageWrapper h6{
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 400;
    color: black;
}

/* Styling for music cover container*/
.musicImage{
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

/* Styling for music cover image, defining its demension sizing*/
.musicImage img {
    width: 150px;
    height: 120px;
    border-radius: 5%;
}

/* music progress bar container containg the head, bar, start and duration times. Defining their dimension sizing within music container and organising the elements to display as a grid*/
.musicProgress{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 90%;
}

/* styling of progress bar (unloaded)*/
.progress{
    grid-column: 1 / -1;
    height: 0.4rem;
    margin: 0.8rem;
    cursor: pointer;
    position: relative;
    background-color: #472152;
}

/* styling of loading progressbar */
.progressBar{
  background-color: #fafafa;  
  height: 100%;
  width: 100%;
  position: relative;
}

/* creation of circle progress head */
.progressHead{
    border-radius: 100%;
    background-color: purple;

    //Size of progress head//
    height: 0.8rem;
    width: 0.8rem;

    //positioning and stacking of progress head relative to progress bar//
    position: absolute;
    transform: translate(-50%, -32%);
    top: 0;
    left: 0;
    z-index: 2;
}

/* Styling of music current and duration timing */

// music current progressed time aligned to left //
.currentTime{
    text-align: left;
    margin-left: 5%;
}

// Total music duration time aligned to right //
.duration {
    text-align: end;
    margin-right: 5%;
}

/* Styling of music previous song, play song, and next song buttons */
.musicButtons{
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    width: 90%;

    // Aligns buttons at center with a justified space between each other, and within  an inline-level flex container//
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling of button element for music buttons */
.musicButtons button{
    color: #fafafa;
    cursor: pointer;
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 1.4rem;  
}

// END OF ASIDE CONTENT CSS//

// START OF INDEX.HTML CSS//

/* styling of Kanban board Container */
.kanbanContainer{
    font-family: "Poppins", sans-serif;
    background-color: lightgray;
    display: flex;
    height: 550px;
}

/* Styling of Kanban Task Status Content */
.status{
    width:25%;
    background-color: lightgray;
    position: relative;
    padding: 60px 0.5rem 1rem;
}

/* Styling of Kanban Task Status Headings */
.status h1{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #C9E265;
    color: black;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}


/* Styling of Add New Task Button */
#addNew{
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
    background-color:#FFDE59;
    outline: none;
    border: none;
    width: 90%;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 15px;
    cursor: pointer;
}

/* Styling of Add New Task Button when Hovered Over */
#addNew:hover{
    background-color:#ffde59af;
}

/* Styling Of Task Card*/
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 1);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

/* Styling  and positioning of Task Card Close sign */
.task .close{
    position: absolute;
    right: 1.2rem;
    top: 0.25rem;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

/* Styling  and positioning of Task Card Close sign when hovered over */
.task .close:hover{
color:#FFDE59;

}

/* Styling of Close Button in Popout Modal Form */
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* Styling of Close Button when active to scale down in size */
.btn:active {
  transform: scale(0.9);
}

/* Styling of Close Button in Popout Modal Form */
.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* Styling of Popout Form Content */
.modal {
  font-family: "Poppins", sans-serif;
  width: 450px;
  position: fixed;

/* Positioning at the center top of page */
  z-index: 2;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);

/* Transition animation of Popout  */
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

/* Repositioning of Popout Form Top When active */
.modal.active {
  top: 15%;
}

/* Styling of Popout Modal Form Header */
.modal .header {
    font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color:lightgrey;
  border-radius: 4px;
}

/* Adding Padding to Body Content of Modal body content */
.modal .body {
  padding: 15px;
}

/* Styling Background Overlay, For When Pop Out modal form is clicked */
#overlay {
  /* display of element is none when not active */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Setting Overlay to be displayed when active */
#overlay.active {
  display: block;
}

/* Styling Task input for form */
#taskInput{
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
}

/* Styling Task submit button for form */
#taskSubmit{
    background-color: #CB6CE6;
    color: white;
    width: 100%;
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
}

// END OF OF INDEX.HTML CSS//


// START OF TIMER.HTML CSS//

/* Setting font of all timer content to be Poppins */
.timerContent{
    font-family: "Poppins", sans-serif;
    
}

/* Styling of Timer Heading */
.timerContent h1{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* Setting Pomodoro and Stopwatch tabs to be positioned at beginning of flex container */
.timerTabs{
    display: flex;
    justify-content: flex-start;
}

/* Styling of Pomodoro and Stopwatch tab buttons */
.timerTabs button{
  
  color: black;
  padding: 10px;
  width: 15%;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.5 ease-in;
  font-size: 17px;
  margin: 15px;
  margin-left: 0;
}

//START OF STOPWATCH TAB CSS//

/* Styling of Stopwatch container content to be positioned at the center of the container and organised as a column */
.stopwatchContainer{
   
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 550px;
}

/* Styling of Stopwatch time numerals */
.stopwatch{
    color: black;
    font-size: 82px;
    font-weight: 700;
}

/* Styling of Stopwatch start stop and reset buttons  */
.stopwatchButtons button{
    background-color: #C9E265;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

//END OF STOPWATCH TAB CSS//


//START OF POMODORO TAB CSS//

/* Styling of Pomodoro content container content, and making content display as a Grid */
.pomodoroContainer{
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 550px;
}

/* Styling of Session, Break, and Interval Headings*/

.label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    
}

/* Positioning of Session Label Heading In Grid */
#session{
    grid-area: 1 / 2 / 1 / 2;
}

/* Positioning of Break Label Heading In Grid */
#break {
    grid-area: 1 / 3 / 1 / 3;
}

/* Positioning of Interval Label Heading In Grid */
#Interval {
    grid-area: 1 / 4 / 1 / 4;
}


/* Positioning of pomodor Session and Break timers and Interval Counter to be justified to center of container*/
.pomodoro{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    
}

/* Positioning of Session Timer In Grid relative to Session Title Label position */
#sessionTimer{
    grid-area: 2 / 2 / 2 / 2;
}

/* Positioning of Break Timer In Grid relative to Break Title Label position */
#breakTimer {
    grid-area: 2 / 3 / 2 / 3;
}

/* Positioning of Interval Counter In Grid relative to Interval Title Label position */
#counter{
    grid-area: 2 / 4 / 2 / 4;
}

/* Styling of Pomodoro Buttons */
.PomodoroButtons{
    height: 25%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9E265;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
   
}

/* Positioning of Start Button  In Grid */
#Start {
    grid-area: 3 / 2 / 3 / 2;
}

/* Positioning of Stop Button  In Grid */
#Stop {
    grid-area: 3 / 3 / 3 / 3;
}

/* Positioning of reset Button  In Grid */
#Reset {
    grid-area: 3 / 4 / 3 / 4;
}

//END OF POMODORO TAB CSS//

// END OF TIMER.HTML CSS//



