@import "typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500&display=swap');


* { box-sizing: border-box; }

/* Navigation bar setup dimensions and colour */
nav {
    background-color: #FFDE59;
    padding:10px 15px 10px 15px;
    height: 6vh;
}

/* Navigation bar container for textarea and pencil icon, justifying element to center */
.topNavigation {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

/* Positioning for pencil icon */
.topNavigation i{
    margin-top: 10px;
}

/* Styling elements for STUDBUD logo */
#logo{ 
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    position: absolute;
    top:0;
}

/* Styling elements for Textarea box */
.textarea {
    background-color: #FFDE59;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll; 
    width: 40vw;
    height: 3vh;
}
// Music Player//

aside{
    float: left;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 2%;
}
.music-container{
    background-color: #CB6CE6;
    width: 95%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imageWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.musicImage img {
width: 150px;
height: 120px;
border-radius: 5%;
    
}

.musicImage{
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.imageWrapper h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.imageWrapper h6{
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 400;
    color: black;
}


.musicProgress{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 90%;
}

.progress{
    grid-column: 1 / -1;
    height: 0.4rem;
    margin: 0.8rem;
    cursor: pointer;
    position: relative;
    background-color: #472152;
}

.progressBar{
  background-color: #fafafa;  
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0.8rem;

}

.progressHead{
    position: absolute;
    background-color: #fafafa;
    height: 0.7rem;
    width: 0.7rem;
    top: 0;
    left: 0;
    transform: translate(-50%, -32%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 0 3px grey;
}

.currentTime{
    text-align: left;
    margin-left: 5%;
}

.duration {
    text-align: end;
    margin-right: 5%;
}

.musicButtons{
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.musicButtons button{
    color: #fafafa;
    cursor: pointer;
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 1.4rem;  
}







//Side Bar Tabs//
.tabs{
float: left;
width: 95%;

margin-top: 12px;
}

.tabs a{
    text-decoration: none;  
}

.tabs button{
  display: block; 
  color: black;
  padding:  18px 16px;
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.5 ease-in;
  font-size: 17px;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
}

.tabs button:hover{
  background-color: lightgray;  
}

.tabs button:active {
    background-color: white; 

}

//Timer Page//

.timerContent{
    font-family: "Poppins", sans-serif;
    
}

.timerTabs{
    display: flex;
    justify-content: flex-start;
}

.timerTabs button{
  
  color: black;
  padding: 10px;
  width: 15%;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.5 ease-in;
  font-size: 17px;
  margin: 15px;
  margin-left: 0;
}

.timerContent h1{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.stopwatchContainer{
   background-color: lightgray;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 550px;
}

.stopwatch{
    color: black;
    font-size: 84px;
    font-weight: 700;
}

.stopwatchButtons button{
    background-color: #C9E265;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.pomodoroContainer{
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 550px;
}

.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#session{
    grid-area: 1 / 2 / 1 / 2;
}
#Interval {
    grid-area: 1 / 4 / 1 / 4;
}
#break {
    grid-area: 1 / 3 / 1 / 3;
}

.pomodoro{
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#breakTimer {
    grid-area: 2 / 3 / 2 / 3;
}

#sessionTimer{
    grid-area: 2 / 2 / 2 / 2;
}
#counter{
    grid-area: 2 / 4 / 2 / 4;
}

.PomodoroButtons button{
    display: grid;
    background-color: #C9E265;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    display: block;
    align-self: center;
    justify-self: center;
}

#Start {
    grid-area: 3 / 2 / 3 / 2;
}

#Stop {
    grid-area: 3 / 3 / 3 / 3;
}

#Reset {
    grid-area: 3 / 4 / 3 / 4;
}






.kanbanContainer{
    background-color: lightgray;
    display: flex;
    height: 550px;
}

.status{
    width:25%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 0.5rem 1rem;
}

.status h1{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #343434;
    color: white;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

#addNew{
    padding: 0.5rem 1rem;
    background-color: white;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
}

#addNew:hover{
    background-color: lightgrey;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.task .fa-xmark{
    position: absolute;
    right: 1rem;
    top: 0.4rem;
    font-size: 2rem;
    color: #CB6CE6;
    cursor: pointer;
}

.task .fa-xmark:hover{
color: #C9E265;

}


.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 15%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#taskInput{
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
}


#taskSubmit{
    background-color: #CB6CE6;
    color: white;
    font-size: 1.25rem;
    border: none;
}